.row{
    margin-left: 75px;
}

.row h1{
    color: whitesmoke;
    padding: 10px 0px;
}

.row-content{
    display: flex;
    overflow-x: scroll;
}

.row-content::-webkit-scrollbar{
    display: none;
}

.row-content img{
    margin-left: 10px ;
    transition: 1s;
}

.row-content img:hover{
    transform: scale(1.25);
    cursor: pointer;
}